header
{
    color:#000000;
    text-align:center;
    font-family: cursive;
    font-weight: 900;
    font-size:40px;
    padding-top:80px;
    margin-bottom:50px;
}
p
{
    padding: 12px 5px 0px 6px;
    font-family:cursive;
    font-weight:500;
}
@media (min-width:992px) {

 .f
{
    height:190px;
    width:25%;
    float:left;
    border:2px solid #000000; 
    margin:80px 1% 0px 8%;
    background-color: #b4b4b4;
    overflow:hidden;
}             
.f h4
{
    font-family:cursive;
    position: relative;
    float:right;
    font-weight: 500;
    color:#000000;
    border:1px solid #000000;
    margin:0;
    background-color: hotpink;
    padding:1px 30px 1px 30px;
}
 .sec
{
    height:190px;
    width:25%;
    float:left;
    border:2px solid #000000; 
    margin:80px 0px 0px 1.5%;
    background-color: #b4b4b4;
    overflow:hidden;
}
.sec h4
{
    font-family:cursive;
    position: relative;
    float:right;
    font-weight: 500;
    color:#000000;
    border:1px solid #000000;
    margin:0;
    padding:1px 30px 1px 30px;
    background-color: gold; 
}
.third
{
    height:190px;
    width:25%;
    float:left;
    border:2px solid #000000;
    margin:80px 8% 0px 2.5%;
    overflow:auto;
    background-color: #b4b4b4;
    overflow:hidden;
}
.third h4 
{
    font-family:cursive;
    position: relative;
    float:right;
    font-weight: 500;
    color:#000000;
    border:1px solid #000000;
    margin:0;
    padding:1px 30px 1px 30px;
    background-color:#2ecc71; 
}


    
}


@media (max-width:991px) and (min-width:768px) {
 .f
{
    height:180px;
    width:40%;
    float:left;
    border:2px solid #000000; 
    margin:40px 1% 0px 8%;
    background-color: #b4b4b4;
    overflow: hidden;
}             
.f h4
{
    font-family:cursive;
    position: relative;
    float:right;
    font-weight: 500;
    color:#000000;
    border:1px solid #000000;
    margin:0;
    background-color: hotpink;
    padding:1px 30px 1px 30px; 
}
 .sec
{
    height:180px;
    width:40%;
    float:left;
    border:2px solid #000000; 
    margin:40px 0px 0px 2%;
    background-color: #b4b4b4;
    overflow: hidden;
}
.sec h4
{
    font-family:cursive;
    position: relative;
    float:right;
    font-weight: 500;
    color:#000000;
    border:1px solid #000000;
    margin:0;
    padding:1px 30px 1px 30px;
    background-color: gold; 
}
.third
{
    height:120px;
    width:83.5%;
    float:left;
    border:2px solid #000000;
    margin:20px 8% 0px 8%;
    overflow:auto;
    background-color: #b4b4b4;
    overflow: hidden;
}
.third h4 
{
    font-family:cursive;
    position: relative;
    float:right;
    font-weight: 500;
    color:#000000;
    border:1px solid #000000;
    margin:0;
    padding:1px 30px 1px 30px;
    background-color:#2ecc71; 
}
}

@media (max-width:768px)
{
    header
{
    color:#000000;
    text-align:center;
    font-family: cursive;
    font-weight: 900;
    font-size:40px;
    padding-top:6px;
    margin-bottom:10px;
}
    .f
{
    height:190px;
    width:90%;
    float:left;
    border:2px solid #000000; 
    margin:10px 4.5% 0px 4.5%;
    background-color: #b4b4b4;
    overflow:hidden;
}             
.f h4
{
    font-family:cursive;
    position: relative;
    float:right;
    font-weight: 500;
    color:#000000;
    border:1px solid #000000;
    margin:0;
    background-color: hotpink;
    padding:1px 30px 1px 30px;
}
 .sec
{
    height:190px;
    width:90%;
    float:left;
    border:2px solid #000000; 
    margin:20px 4.5% 0px 4.5%;
    background-color: #b4b4b4;
    overflow:hidden;
}
.sec h4
{
    font-family:cursive;
    position: relative;
    float:right;
    font-weight: 500;
    color:#000000;
    border:1px solid #000000;
    margin:0;
    padding:1px 30px 1px 30px;
    background-color: gold; 
}
.third
{
    height:190px;
    width:90%;
    float:left;
    border:2px solid #000000;
     margin:20px 4.5% 0px 4.5%;
    overflow:auto;
    background-color: #b4b4b4;
    overflow:hidden;
}
.third h4 
{
    font-family:cursive;
    position: relative;
    float:right;
    font-weight: 500;
    color:#000000;
    border:1px solid #000000;
    margin:0;
    padding:1px 30px 1px 30px;
    background-color:#2ecc71; 
}

}


